body{
    background-color: #F0F4F8;
}

html{
    scroll-behavior: smooth;
}

.presentation h3::first-letter{
    content: "";
    color: #ffb300;
}

.leppfi{
    display: flex;
    gap: 15px;
}
.aside{
    width: 300px;
    height: 1000px;
    margin-left: 15px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.aside img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px;
}

.aside h3{
    color: gray;
}

.img-reseaux {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.img-reseaux a{
    width: 20px;
    height: 20px;
    background-color: #ffb300;
     color: black;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
}

.competences-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item{
    display: flex;
    margin-bottom: 10px;
    margin-left: ;
}

.max{
    background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur{
    width: 95%;
    height: 5px;
    background-color: #ffb300;
}

.max1{
    background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur1{
    width: 40%;
    height: 5px;
    background-color: #ffb300;
}

.max2{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border:  1px solid #ffb300;
}

.valeur2{
      width: 95%;
    height: 5px;
    background-color: #ffb300;
    color: blue;
}

.max3{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur3{
      width: 95%;
    height: 5px;
    background-color: #ffb300;
}

.max4{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur4{
      width: 85%;
    height: 5px;
    background-color: #ffb300;
}

.max5{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur5{
      width: 70%;
    height: 5px;
    background-color: #ffb300;
}

.max6{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur6{
      width: 50%;
    height: 5px;
    background-color: #ffb300;
}

.max7{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur7{
      width: 60%;
    height: 5px;
    background-color: #ffb300;
}

.max8{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur8{
      width: 70%;
    height: 5px;
    background-color: #ffb300;
}

.max9{
     background-color: ;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    border: 1px solid #ffb300;
}

.valeur9{
      width: 70%;
    height: 5px;
    background-color: #ffb300;
}

.extra-skills p i{
    color: #ffb300;
    margin-right: 3px;
}

.extra-skills h3{
    color: black;
}

.langage h3{
    color: black;
}

.skills h3{
    color: black;
}
.bouton {
    margin-top: 10%;
}
.bouton a{
    color: black;
    font-weight: bold;
    background-color: #ffb300;
    padding: 10px;
    border: 5px;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 5%;
    
}

.milieu{
   width: 70%;
   margin-left: 2%;
}

.presentation{
    display: flex;
    gap: 10px;
}

.presentation img{
    width: 200px;
    border-radius: 10px;
    height: auto;
    margin-left: 5%;
}

.presentation h3{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 50px;
}

.presentation h3 span{
    color: #ffb300;
}

.hero p{
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

.hero a{
    color: black;
    text-decoration: none;
    background-color: #ffb300;
    padding: 10px;
    border-radius: 30px;
    margin-top: 5%;
}

.hero{
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 5%;
}
.services{
    text-align: center;
    margin-top: 10%;
}

.service-cards{
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 5%;
}
.service{
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.services p{
    font-size: 18px;
}

.service i{
    color: #ffb300;
    width: 300px;
}

.service p{
    color: gray;
}


.price-plan{
    text-align: center;
    margin-top: 5%;
}

.price-plan p{
    font-size: 18px;
    color: ;
}

.grille-tarif{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
}

.tarif{
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.tarif a{
    color: black;
    border-radius: 30px;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.tarif i{
    color: #ffb300;
    margin-right: 5px;
}

.tarif h6{
    font-size: 12px;
}

 .grille-tarif .tarif:nth-child(2) h5 {
    background-color: #ffb300;
    top: 0;
    position: relative;
    padding: 10px;
    width: 95%;
    
}

.grille-tarif .tarif:first-child h4{
    margin-top: 16%;
}

.grille-tarif .tarif:last-child h4{
    margin-top: 16%;
}

.grille-tarif .tarif:nth-child(2) a{
    background-color: #ffb300;
    font-weight: 600;
}

.recommandations{
    text-align: center;
    margin-top: 5%;
}
.recommandations p{
    font-size: 18px;
}

#icon{
    font-size: 60px;
    color: #ffb300;
}

.recomands{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 5%;
}

.recommand img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10%;
    object-fit: cover;
}
.recommand{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 10px;
    background-color: white;
}
.photo-titre{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.titre h4{
    margin-top: 5%;
}

.titre {
    margin-top: 10%;
    margin-left: 20%;
}
.recommand i{
    color: #ffb300;
    margin-top: 10px;
}

.titre p{
    font-size: 18px;
    color: gray;
}


.educations{
    text-align: center;
    margin-top: 5%;
}

.educations p{
    font-size: 18px;
}

.etude{
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 5%;
}

.formation{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.periode{
    display: flex;
    gap: 15px;
}

.detaille{
    margin-left: 15%;
}
.detaille p{
    font-size: 17px;
    color: gray;
}
.ecole-periode{
    width: 200px;
    height: auto;
}


.periode p{
    background-color: #ffb300;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.qrcode{
    display: none;
}

.qrcode.affiche{
    display: block;
    scale: 1.1;
}

.detaille a{
    text-decoration: none;
    color: white;
    background-color: #ffb300;
    border-radius: 7px;
    padding: 8px;
}

.detaille a:hover{
    background-color: transparent;
    color: #ffb300;
    font-weight: bold;
}

.works{
    margin-top: 5%;
    text-align: center;
}

.works p{
    font-size: 18px;
}


.porfolio{
    text-align: center;
}

.porfolio p{
    font-size: 18px;
}

.porfolio-projet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 3%;
    margin-right: 15px;
}

.porfolio-projet .projet:nth-child(1){
    
    
}

.projet{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    width: 100%;
    height: auto;
    
}

.projet img{
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 7px;
}
.porfolio-projet .projet:nth-child(1){
    margin-right: 5%;
}
.porfolio-projet .projet:nth-child(1) p{
    text-align: center;
    color: black;
    font-weight: bold;
}

.porfolio-projet .projet:nth-child(1) a{
    text-decoration: none;
    color: white;
    background-color: #ffb300;
    padding: 5px;
}

.porfolio-projet .projet:nth-child(2) img{
    width: 90%;
    height: 200%;
}

.porfolio-projet .projet:nth-child(2) p{
    text-align: center;
   margin-top: 100%;
    font-size: 18px;
    font-weight: bold;
   
    margin-left: 5%;
}

.porfolio .projet:nth-child(2) a{
    text-decoration: none;
    color: white;
    background-color: #ffb300;
    padding: 5px;
}

.porfolio .projet:nth-child(3){
    
}

.porfolio .projet:nth-child(3) p{
    text-align: center;
    
    font-size: 16px;
    font-weight: bold;
    
    
}

.porfolio .projet:nth-child(3) a{
     text-decoration: none;
    color: white;
    background-color: #ffb300;
    padding: 5px;
}



.porfolio .projet:nth-child(4) p{
    text-align: center;
    
    font-size: 16px;
    font-weight: bold;
   

}

.porfolio .projet:nth-child(4) a{
    text-decoration: none;
    color: white;
    background-color: #ffb300;
    padding: 5px;
}

.blogs{
    text-align: center;
    margin-top: 5%;
}

.blogs p{
    font-size: 18px;
}

.blog-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 3%;
}

.blog{
    flex: 1;
    width: 200px;
    height: ;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
    padding-bottom: 7px;
}

.blog img{
    width: 100%;
}

.blog a{
    text-decoration: none;
    color: #ffb300;
    font-weight: bold;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 5%;
}

#cacher2{
    display: none;
}



form{
    width: 400px;
    height: 900px;
    padding: 15px;
}

fieldset{
    background-color: white;
}

textarea{

    background-color: #F0F4F8;
    width: 100%;
    height: 200px;
}

form input{
    margin-bottom: 20%;
    background-color: #F0F4F8;
    width: 100%;
    height: 40px;
}

form label{
    display: block;
    margin-bottom: 25px;
}

button{
    background-color: #ffb300;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 8%;
    font-weight: bold;
}

.info div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.info-global{
    display: flex; 
    gap: 10%;
   flex-direction: column;
}

.info{
    flex-direction: column;
}

.info i{
    text-align: center;
    display: block;
    color: black;
    background-color: #ffb300;
    font-weight: bold;
    padding: 5px;
}
.map{
    margin-top: 5%;
    margin-right: 5%;
}

footer{
    background-color: 
    white;
    padding: 8px;
    margin-top: 5%;
    bottom: 0;
}

footer p{
    text-align: center;
    font-size: 16px;
}

.droite{
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 900px;
    margin-left: 25px;
    position: sticky;
    top: 0;
}

ul{
   list-style: none;
   display: flex;
   gap: 50px;
   flex-direction: column;
   margin-top: 100%;
   text-align: center;
   margin-right: 30px;
}

li i{
    background-color: #F0F4F8;
    color: gray;
    padding: 7px;
    border-radius: 50%;
}

ul li:nth-child(2) i{
    background-color: #ffb300;
    color: black;
    font-weight: bold;
}

ul li:nth-child(1) i{
    cursor: pointer;
    margin-bottom: 10%;
}

#menu-btn{
    margin-left: 50%;
    margin-top: 20%;
    color: gray;
    background-color: #F0F4F8;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

body.active  .hero,
body.active .service,
body.active .price-plan,
body.active  .grille-tarif,
body.active  .tarif,
body.active  .recommand,
body.active .aside,
body.active  .etude,
body.active  .blog,
body.active .info div,
body.active footer,
body.active  .contact,
body.active .droite,
body.active{
    color: white;
    font-weight: bold;
    background-color: rgb(0, 0, 31);
    box-shadow: 0 4px 15px rgba(1, 1, 0, 0.1);
}

body.active .hero p{
    color: white;
}

body.active .hero{
    box-shadow: 0 8px 15px rgba(255, 165, 0, 1);
}

body.active .service{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}

body.active .droite{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}


body.active .grille-tarif{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}


body.active .tarif{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}

body.active .info{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}

body.active .projet{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}

body.active .projet p{
    color: black;
    font-weight: bold;
}

#cacher1{
    display: none;
}

body.active label{
    color: black;
}


body.active .grille-tarif .tarif:first-child a{
    color: white;
    border-color: white;
}

body.active .grille-tarif .tarif:last-child a{
    color: white;
    border-color: white;
}

body.active .etude{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}

body.active .blog-content{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}

body.active .blog{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}

body.active .aside{
    box-shadow: 0 4px 15px rgba(255, 165, 0, 1);
}


body.active h1{
    color: #ffb300;
}

body.active .aside h3{
    color: white;
}
.aside.active{
    color: #111827;
}

.milieu p.active{
    color: white;
    font-weight: bold;
}
 






/*responsive*/

@media (max-width: 768px){
    .leppfi{
        flex-direction: column-reverse;
    }

    .droite{
        display: none;
        margin: 0;
    }

    .liste-menu {
        gap: 30px;
    }
    .aside{
        text-align: center;
    }

    .milieu{
        width: 100%;
    }
    .presentation{
        flex-direction: column;
        width: 95%;
    }

    .hero {
        width: 95%;
    }

    .presentation h3{
        font-size: 30px;
    }

    .presentation img{
      width: 90%;
    height: auto;
    
    }

    .service-cards{
        flex-direction: column;
        gap: 15px;
    }

    .service{
        width: 90%;
        margin-left: 10px;
    }

    .services p{
        text-align: center;
    }

    .grille-tarif{
        flex-direction: column;
        width: 95%;
        text-align: center;
        margin-left: 15px;
    }

    .price-plan p{
        text-align: center;
    }

    .recomands{
        flex-direction: column;
    }

    .recommand{
        width: 90%;
        margin-left: 10px;
    }

    .educations p{
        text-align: center;
        margin-left: 7px;
    }

    .formation{
        flex-direction: column;
        width: 90%;
    }
    .etude{
        width: 90%;
       text-align: center;
    }

    .recommandations p{
        text-align: center;
    }

    .periode h5{
        display: block;
        font-size: 20px;
    }

    .porfolio-projet{
       grid-template-columns: repeat(1, 1fr);
       gap: 20px;
    }

    .porfolio p{
        text-align: center;

    }

    .projet{
        width: 90%;
        margin-left: 15px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog{
        width: 90%;
        margin-left: 15px;
    }

    .contact-info{
        flex-direction: column
    }

    
    .info-global{
        width: 90%;
        margin-left: 5%;
    }

    .info{
        width: 100%;
    }

    .info div{
        flex-direction: column;
    }

    form{
        max-width: 200px;
        height: 750px;
    }


    form div{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    label{
        width: 200px;
    }

    input{
        flex: 1;
        font-size: 16px;
    }

    textarea{
        font-size: 16px;
    }

    .map iframe{
        width: 100%;
    }
    #menu-btn{
        display: block;
        margin-left: 90%;
        position: fixed;
        left: 0;
        top: 0;
    }

    .droite.active{
   display: block;
  
   
}
}

  

